<main>

    <div class="breadcrumbs-new pb-0">
        <a href="/">Əsas səhifə</a>
        <span>/</span>
        <a href="/blog/">Bloqlar</a>
        </div>


      <div class="page-title-center-container">
            <h2 class="page-title">Bloqlar</h2>
      </div>


      <div class="section-component">
        <div class="container">
            <div class="sc-title-container">
                <h4 class="sc-title">Son bloq yazıları</h4>
                </div>
                <div class="last-blog-cards">
                <a href="/post/it-sahesi-ucun-mutexessisler-musahibeye-nece-hazirlasmalidir" class="new-blog-item big-blog-item">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2023/12/21/65842cb3d0cb4-EznFy-4Ml8PVskp.png">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">21 Dekabr 2023</span>
                <h4 class="nbi-title">
                İT sahəsi üçün mütəxəssislər müsahibəyə necə hazırlaşmalıdır? <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                İT sahəsi üçün mütəxəssislər müsa ... </div>
                </div>
                </a>
                <a href="/post/hr-mutexessisleri-cv-de-neye-diqqet-yetirirler" class="new-blog-item horizontal-blog-item">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2023/12/19/65814d3416426-v60yOBnW048Re8_.png">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">19 Dekabr 2023</span>
                <h4 class="nbi-title">
                HR mütəxəssisləri CV-də nəyə diqqət yetirirlər? <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                HR mütəxəssisləri CV-də nəyə diqq ... </div>
                </div>
                </a>
                <a href="/post/reqemsal-marketinq-mutexessisi-kimdir-babaxan-melikli" class="new-blog-item horizontal-blog-item">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2023/11/26/65626537d2b4d-fnBBl7ZY-TsSL4V.jpg">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">26 Noyabr 2023</span>
                <h4 class="nbi-title">
                Rəqəmsal marketinq mütəxəssisi kimdir? - Babaxan Məlikli <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Rəqəmsal marketinq mütəxəssisi ki ... </div>
                </div>
                </a>
                </div>
        </div>
        </div>

        <div class="section-component all-blogs-container">
           <div class="container">
            <div class="sc-title-container">
                <h4 class="sc-title">Bütün yazılar</h4>
                </div>
                <div class="all-blog-cards">
                <a href="/post/dunyada-movcud-beyin-kocu" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2023/10/03/6512c2c72c5bc-gyRHzN5oJBUPozl.jpeg">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">26 Sentyabr 2023</span>
                <h4 class="nbi-title">
                Dünyada mövcud beyin köçü <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Dünyada mövcud beyin köçü </div>
                </div>
                </a>
                <a href="/post/zeif-cehetleriniz-nelerdir-sualina-nece-cavab-vere-bilersiniz" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2023/01/26/63d21cc0a8217-Ybzq9d43uui878m.jpg">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">26 Yanvar 2023</span>
                <h4 class="nbi-title">
                “Zəif cəhətləriniz nələrdir?” sualına necə cavab verə bilərsiniz <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                “Zəif cəhətləriniz nələrdir?” sua ... </div>
                </div>
                </a>
                <a href="/post/bazar-ertesi-sendromu" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2023/01/25/63ce7b5a91957-hXPnlGeeB33-j4T.jpg">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">23 Yanvar 2023</span>
                <h4 class="nbi-title">
                Bazar ertəsi sendromu <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Bazar ertəsi sendromu </div>
                </div>
                </a>
                <a href="/post/en-yaxsi-namizedler-musahibeden-sonra-niye-yoxa-cixir" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2023/01/18/63c7cd2e34152-ahSjTO4632ql0tL.jpg">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">18 Yanvar 2023</span>
                <h4 class="nbi-title">
                Ən yaxşı namizədlər müsahibədən sonra niyə yoxa çıxır?
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Ən yaxşı namizədlər müsahibədən s ... </div>
                </div>
                </a>
                <a href="/post/hr-ucun-kpi-hansini-secmek-nece-heyata-kecirmek-ve-nece-reqemsallasdirmaq" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2023/01/16/63c13e4f7efb9-3e1Fx094FR9_kr0.png">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">12 Yanvar 2023</span>
                <h4 class="nbi-title">
                HR üçün KPI: hansını seçmək, necə həyata keçirmək və necə rəqəmsallaşdırmaq <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                HR üçün KPI: hansını seçmək, necə ... </div>
                </div>
                </a>
                <a href="/post/evden-islemeyin-5-cetin-terefi-ve-basa-cixmanin-yollari" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2023/01/13/63c149d73c00e-0lyaX1bx3OcYQ65.jpg">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">12 Yanvar 2023</span>
                <h4 class="nbi-title">
                Evdən işləməyin çətin 5 tərəfi və başa çıxmanın yolları <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Evdən işləməyin 5 çətin tərəfi və ... </div>
                </div>
                </a>
                <a href="/post/kontent-menecer-kimdir" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2022/09/21/6329a8f316303-FxMfQC5GpHTcX5B.png">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">20 Sentyabr 2022</span>
                <h4 class="nbi-title">
                Kontent menecer kimdir? <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Kontent menecer kimdir? </div>
                </div>
                </a>
                <a href="/post/art-direktor-kimdir" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2022/09/19/63281caf8ecf7-CkEiq_VGlV9t3c7.png">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">19 Sentyabr 2022</span>
                <h4 class="nbi-title">
                Art direktor kimdir? <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Art direktor kimdir? </div>
                </div>
                </a>
                <a href="/post/digital-marketinq-mutexessisi-kimdir" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2022/09/05/6315be9a7bea4-4uHSWs185N4dDZm.jpg">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">05 Sentyabr 2022</span>
                <h4 class="nbi-title">
                Rəqəmsal marketinq mütəxəssisi kimdir? <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Digital marketinq mütəxəssisi kim ... </div>
                </div>
                </a>
                <a href="/post/satis-meneceri-kimdir" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2022/09/03/6313719673f96-2Gxm6mnnGHa5i_M.jpg">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">03 Sentyabr 2022</span>
                <h4 class="nbi-title">
                Satış meneceri kimdir? <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Satış meneceri kimdir? </div>
                </div>
                </a>
                <a href="/post/data-analitikin-is-hekayesi" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2022/09/03/631307c19c272-GpOy4d48PZ61B8J.jpg">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">03 Sentyabr 2022</span>
                <h4 class="nbi-title">
                Data analitik kimdir? <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Data analitikin iş hekayəsi </div>
                </div>
                </a>
                <a href="/post/dizayn-teqaud-proqrami" class="new-blog-item ">
                <div class="nbi-image">
                <img loading="lazy" src="https://www.hellojob.az/uploads/blog/min/2022/09/02/6311d644ea0bc-St6Z_4iRaYVH1vT.jpeg">
                </div>
                <div class="nbi-information">
                <span class="nbi-time">02 Sentyabr 2022</span>
                <h4 class="nbi-title">
                Dizayn təqaüd proqramı <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </h4>
                <div class="n-blog-content">
                Dizayn təqaüd proqramı </div>
                </div>
                </a>
                </div>
           </div>
            </div>



            <ul class="custom-pagination custom-pagination-blog mb-4">
                <li>
                    <a href="#" class="disabled">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                    </li>
                 <li><a class="active" href="?page=1">1</a></li>
                  <li><a href="?page=2">2</a></li> 
                  <li><a href="?page=3">3</a></li>
                  <li class=""><a>...</a></li>
                  <li><a class="rotate-pagination-item" aria-label="Next" href="?page=2"><i class="fa-solid fa-arrow-right"></i></a></li>
                </ul>



</main>
@section Scripts {
    <script src="~/assets/js/blog.js"></script>
   }