<div class="orders">
    <div class="title">
        <h1>Gözləmədə Olanlar</h1>
    </div>
    <div class="myorder">
        <div class="container border border-secondary-subtle" style="overflow:auto">

            <p>Gözləmədə olan müraciətlər</p>
            <table class="table caption-top">

                <thead>
                    <tr class="text-center ">
                        <th scope="col">№</th>
                        <th scope="col">Müraciət edənin adı</th>
                        <th scope="col">Müraciət edənin Vəzifəsi</th>
                        <th scope="col">Müraciət edənin E-poçtu</th>
                        <th scope="col">Şirkətin adı</th>
                        <th scope="col">Şirkətin tələb etdiyi vəzifə</th>
                        <th scope="col">Şirkətin E-poçtu</th>
                        <th scope="col">Müraciətin Statusu</th>
                        <th scope="col">Qəbul et/İmtina et</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center ">
                        <td scope="row">1</td>
                        <td>Ulviyye</td>
                        <td>Software Developer</td>
                        <td>ulviyyamr@code.edu.az</td>
                        <td>Kapital Bank</td>
                        <td>asdasd</td>
                        <td>kapitalhr@code.edu.az</td>
                        <td>G&#xF6;zl&#x259;m&#x259;d&#x259;</td>
                        <td>
                            <a class="btn btn-success" style="display:inline">Accepted</a>
                            <a class="btn btn-danger" style="display:inline">Rejected</a>
                        </td>
                    </tr>
                    <tr class="text-center ">
                        <td scope="row">2</td>
                        <td>Rashid</td>
                        <td>Software Developer</td>
                        <td>rashidtb@code.edu.az</td>
                        <td>Kapital Bank</td>
                        <td>asdasd</td>
                        <td>kapitalhr@code.edu.az</td>
                        <td>G&#xF6;zl&#x259;m&#x259;d&#x259;</td>
                        <td>
                            <a class="btn btn-success" style="display:inline">Accepted</a>
                            <a class="btn btn-danger" style="display:inline">Rejected</a>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>

@section Scripts {
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestId="e6a47708fc174f6489e1b4dc8484d56b" data-requestMappingFromServer="false" data-connectUrl="http://localhost:58989/e2a3a0e7b5f641d591d223e6e9652c5b/browserLink"></script>
   }



