<main>
    <div class="nsp_course">
        <div class="container">
            <div class="row ">
            
            <div class="nsp_top col-md-12">
            <ul>
            <li >
            <a href="/">İş elanları</a>
            </li>
            <li class="active">
            <a href="./resume.html">CV-lər</a>
            </li>
            <li >
            <a href="./course.html">Kurslar</a>
            </li>
            </ul>
            </div>
        </div>
        </div> 
    </div>
    <div class="container container_header">
        <ul class="breadcrumbs mb-4">
        <li>
        <a href="#">Maliyyə</a>
        </li>
        <li>
        <a href="#">Mühasibat</a>
        </li>
        </ul>
    </div>
    
    <section class="resume">
        <div class="container">
        <div class="row">
            <div class="col-md-8"> 
                <div class="resume__block resume_header">
                    <div class="info">
                        <div class="resume_header_img">

                            <img loading="lazy" src="https://www.hellojob.az/uploads/elanlar-cv/2024/02/01/senan-allahverenov-cv-65bb8f8f0686f-56df753f625b8629be183176426e63a465bb8f8f0687b-B5ohR4ei5gjbc-h.jpeg" alt="" class="">
                        </div>
                         <div class="resume_header_desc">
                             <h3  >Mühasib köməkçisi  </h3>
                             <p >Sənan Allahverənov</p>
                            
                         </div>
                    </div>
              
               
                        
                    <span class="resume__icon mr-0 course_like mt-2 " data-id="31">
                        <i id="unlike" style="color: #2196f3;" class="fa-regular fa-heart"></i>
                        <i id="like" style="color: #2196f3;" class="fa-solid fa-heart"></i>
                      </span>
                
                </div>
                <div class="resume__block">
                    <h3 class="resume__title">Şəxsİ məlumatlar</h3>
                    <div class="row">
                    <div class="col-md-6">
                    <div class="resume__item">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/birthday-cake.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4>06 Noyabr 2002</h4>
                    <p>Doğum tarixi</p>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="resume__item mb-0">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/pin.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4>Bakı</h4>
                    <p>Şəhər</p>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="resume__block">
                    <h3 class="resume__title">İş məlumatları</h3>
                    <div class="row">
                    <div class="col-md-6">
                    <div class="resume__item">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4>Tam ştat</h4>
                    <p>İş rejimi</p>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="resume__item">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4>Mühasib köməkçisi</h4>
                    <p>İşlədiyi sahə</p>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="resume__item">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4> 1 ildən az </h4>
                    <p>İş təcrübəsi</p>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="resume__item mb-0">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/money.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4> 500 AZN </h4>
                    <p>Minimum əmək haqqı AZN</p>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="resume__item mb-0">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/graduation.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4>Ali</h4>
                    <p>Təhsil</p>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="resume__block">
                    <h3 class="resume__title">Təcrübə</h3>
                    <div class="resume__item resume__item--full">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                    </div>
                    <div class="d-block w-100">
                    <div class="d-md-flex justify-content-between w-100">
                    <div class="resume__item__text">
                    <h4>Mühasib köməkçisi</h4>
                    <p>OTA CONSULTİNG</p>
                    </div>
                    <div class="resume__item__right">
                    <span>12/09/2023 - 29/01/2024</span>
                    </div>
                    </div>
                    <div class="resume__item__desc resume__item__desc--editor"><p>Online kargüzarlıqda sərbəst işləmək bacarığı &nbsp;</p>
                    <p>Bank əməliyyatlarını həyata keçirmək</p>
                    <p>Elektron qaimə-fakturaların tərtib olunması və göndərilməsi</p>
                    <p>Elektron hökümət portalları ilə işləmə bacarığı</p>
                    <p>Müqavilələrin hazırlanması</p></div>
                    </div>
                    </div>
                    </div>
                    <div class="resume__block">
                        <h3 class="resume__title">Təhsİl</h3>
                        <div class="resume__item resume__item--full">
                        <div class="resume__icon">
                        <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/graduation.svg" alt="">
                        </div>
                        <div class="d-block w-100">
                        <div class="d-md-flex justify-content-between w-100">
                        <div class="resume__item__text">
                        <h4>Azərbaycan Dövlət İqtisad Universiteti</h4>
                        <p>İstehlak mallarının keyfiyyət ekspertizası</p>
                        </div>
                        <div class="resume__item__right">
                        <span>Magistr</span>
                        <span>15/09/2023 - Hal-hazırda burada oxuyuram</span>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="resume__item resume__item--full">
                        <div class="resume__icon">
                        <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/graduation.svg" alt="">
                        </div>
                        <div class="d-block w-100">
                        <div class="d-md-flex justify-content-between w-100">
                        <div class="resume__item__text">
                        <h4>Azərbaycan Dövlət İqtisad Universiteti</h4>
                        <p>İstehlak mallarının ekspertizası və marketinqi</p>
                        </div>
                        <div class="resume__item__right">
                        <span>Bakalavr</span>
                        <span>15/09/2019 - 05/07/2023</span>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="resume__block">
                            <h3 class="resume__title">Dil bilikləri</h3>
                            <div class="row">
                            <div class="col-md-6">
                            <div class="resume__item resume__item--lang">
                            <span>AZ</span>
                            <div class="resume__item__text">
                            <h4>Azərbaycan dili</h4>
                            <p>Əla</p>
                            </div>
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="resume__item resume__item--lang">
                            <span>EN</span>
                            <div class="resume__item__text">
                            <h4>İngilis dili</h4>
                            <p>Orta</p>
                            </div>
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="resume__item resume__item--lang">
                            <span>RU</span>
                            <div class="resume__item__text">
                            <h4>Rus dili</h4>
                            <p>Orta</p>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="resume__block">
                                <h3 class="resume__title">Diplom və sertifikatlar</h3>
                                <div class="resume__item resume__item--full">
                                <div class="resume__icon">
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/file.svg" alt="">
                                </div>
                                <div class="resume__item__text">
                                <h4>Microsoft Office proqramları</h4>
                                <p>07.01.2024</p>
                                </div>
                                </div>
                            </div>
                            <div class="resume__block">
                                <h3 class="resume__title">Sürücülük vəsiqəsi</h3>
                                <div class="resume__item resume__item--full">
                                <div class="resume__icon">
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/folder.svg" alt="">
                                </div>
                                <div class="resume__item__text">
                                <h4>Kateqoriya <strong>B C </strong></h4>
                                <p>Şəxsi avtomobilim yoxdur</p>
                                </div>
                                </div>
                            </div>
            </div>
            <div class="col-md-4"> 
                <div class="contact">
                   
                    <div class="contact__body">
                      <div class="contact__top">
                      <h4>Elan məlumatları</h4>
                      <div class="contact__top__info">
                     <div class="resume__item">
                    <div class="resume__icon">
                       <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/calendar.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4>01 Fevral</h4>
                    <p>Elan tarixi</p>
                    </div>
                    </div>
                    <div class="resume__item">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/calendar.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4>01 May</h4>
                    <p>Bitmə tarixi</p>
                    </div>
                    </div>
                    <div class="resume__item">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/eye.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4>181</h4>
                    <p>Baxılıb</p>
                    </div>
                    </div>
                    </div>
                    <div class="resume__item">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/phone.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4 class="hidd_num hidden_toggle-num">Nömrəni göstər</h4>
                    <h4 class="hidd_num hidden_toggle-num d-none"><a href="#"></a></h4>
                    <p>Mobil nömrə</p>
                    </div>
                    <button class="resume__icon hidden_toggle hidden_toggle-num mr-0">
                        <img src="https://www.hellojob.az/content/assets/images/resume/svg-icons/lock.svg" alt="">
                    </button>
                    </div>
                    <div class="resume__item mb-0">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/mail.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4 class="hidd_email hidden_toggle-email">E-poçtu göstər</h4>
                    <h4 class="hidd_email hidden_toggle-email d-none"><a href="#"></a></h4>
                    <p>E-poçt ünvanı</p>
                    </div>
                    <button class="resume__icon hidden_toggle hidden_toggle-email mr-0">
                        <img src="https://www.hellojob.az/content/assets/images/resume/svg-icons/lock.svg" alt="">
                    </button>
                    </div>
                    </div>
                    <div class="contact__bottom">
                    <h4 class="mb-3">CV</h4>
                    <div class="resume__item align-items-center mb-0">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/file2.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4 class="text-gray">sənan-allahverənov-cv.pdf</h4>
                    </div>
                    <a href="javascript:void()" id="fileOpen" rel="nofollow">
                    <div class="resume__icon resume__icon--download mr-0">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/download.svg" alt="">
                    </div>
                    </a>
                    </div>
                    </div>
                    <div class="contact__bottom">
                    <h4 class="mb-3">Çap et</h4>
                    <div class="resume__item align-items-center mb-0">
                    <div class="resume__icon">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/file2.svg" alt="">
                    </div>
                    <div class="resume__item__text">
                    <h4 class="text-gray">Vebsayt CV</h4>
                    </div>
                    <a href="/pdf_generate/14188" rel="nofollow" target="_blank">
                    <div class="resume__icon resume__icon--download mr-0">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/download.svg" alt="">
                    </div>
                    </a>
                    </div>
                    </div>
                    <div class="contact__btn">
                    <a href="#premium-popup" class="btn resume__premium-btn popup_btn premiumet" data-effect="mfp-zoom-in">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/crown.svg" alt="">
                    Elanı Premium et
                    </a>
                    <a href="#time-up-popup" class="btn resume__up-btn popup_btn premiumet" data-effect="mfp-zoom-in">
                    <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/up-arrow.svg" alt="">
                    Elanı önə çıxar
                    </a>
                    </div>
                    </div>
                    </div>
            </div>
        </div>
        </div>
   </section>
   <div class="container  cv_parts">
    <h3 class="resume__title">Oxşar cv-lər</h3>
    <div class="row">
        <div class="col-md-6">
                <div class="resume">
                    <a href="./detail.html" target="_blank">
                    <div class="resume_header">
                            <div class="info">
                                <div class="resume_header_img">

                                    <img loading="lazy" src="https://www.hellojob.az/uploads/elanlar-cv/2024/02/01/senan-allahverenov-cv-65bb8f8f0686f-56df753f625b8629be183176426e63a465bb8f8f0687b-B5ohR4ei5gjbc-h.jpeg" alt="" class="">
                                </div>
                                <div class="resume_header_desc">
                                    <h3>Mühasib köməkçisi  </h3>
                                    <p>Sənan Allahverənov</p>
                                    
                                </div>
                            </div>
                    
                        
                                
                            <span class="resume__icon mr-0 course_like mt-2 " data-id="31">
                                <i id="unlike" style="color: #2196f3;" class="fa-regular fa-heart"></i>
                                <i id="like" style="color: #2196f3;" class="fa-solid fa-heart"></i>
                              </span>
                        
                    </div>
                    <div class="resume_footer">
                        <div class="resume_item"> 
                            <div class="image">                            
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/user-clock.svg" alt="">
                            </div>
                            <div class="resume_item_text">
                                <h4>Tam-ştat</h4>
                                <p>İş rejimi</p>
                            </div>
                        </div>
                        <div class="resume_item">
                            <div class="image">
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/money.svg" alt="">
                            </div>
                            <div class="resume_item_text">
                                <h4>500</h4>
                                <p>Minimum əmək haqqı AZN</p>
                            </div>
                        </div>
                        <div class="resume_item">
                            <div class="image"> 
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                            </div>
                            <div class="resume_item_text">
                                <h4>1 ildən az</h4>
                                <p>İş staji</p>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <div class="resume">
                    <a href="./detail.html" target="_blank">
                    <div class="resume_header">
                            <div class="info">
                                <div class="resume_header_img">

                                    <img loading="lazy" src="https://www.hellojob.az/uploads/elanlar-cv/2024/02/01/senan-allahverenov-cv-65bb8f8f0686f-56df753f625b8629be183176426e63a465bb8f8f0687b-B5ohR4ei5gjbc-h.jpeg" alt="" class="">
                                </div>
                                <div class="resume_header_desc">
                                    <h3>Mühasib köməkçisi  </h3>
                                    <p>Sənan Allahverənov</p>
                                    
                                </div>
                            </div>
                    
                        
                                
                            <span class="resume__icon mr-0 course_like mt-2 " data-id="31">
                                <i id="unlike" style="color: #2196f3;" class="fa-regular fa-heart"></i>
                                <i id="like" style="color: #2196f3;" class="fa-solid fa-heart"></i>
                              </span>
                        
                    </div>
                    <div class="resume_footer">
                        <div class="resume_item"> 
                            <div class="image">                            
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/user-clock.svg" alt="">
                            </div>
                            <div class="resume_item_text">
                                <h4>Tam-ştat</h4>
                                <p>İş rejimi</p>
                            </div>
                        </div>
                        <div class="resume_item">
                            <div class="image">
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/money.svg" alt="">
                            </div>
                            <div class="resume_item_text">
                                <h4>500</h4>
                                <p>Minimum əmək haqqı AZN</p>
                            </div>
                        </div>
                        <div class="resume_item">
                            <div class="image"> 
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                            </div>
                            <div class="resume_item_text">
                                <h4>1 ildən az</h4>
                                <p>İş staji</p>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <div class="resume">
                    <a href="./detail.html" target="_blank">
                    <div class="resume_header">
                            <div class="info">
                                <div class="resume_header_img">

                                    <img loading="lazy" src="https://www.hellojob.az/uploads/elanlar-cv/2024/02/01/senan-allahverenov-cv-65bb8f8f0686f-56df753f625b8629be183176426e63a465bb8f8f0687b-B5ohR4ei5gjbc-h.jpeg" alt="" class="">
                                </div>
                                <div class="resume_header_desc">
                                    <h3>Mühasib köməkçisi  </h3>
                                    <p>Sənan Allahverənov</p>
                                    
                                </div>
                            </div>
                    
                        
                                
                            <span class="resume__icon mr-0 course_like mt-2 " data-id="31">
                                <i id="unlike" style="color: #2196f3;" class="fa-regular fa-heart"></i>
                                <i id="like" style="color: #2196f3;" class="fa-solid fa-heart"></i>
                              </span>
                        
                    </div>
                    <div class="resume_footer">
                        <div class="resume_item"> 
                            <div class="image">                            
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/user-clock.svg" alt="">
                            </div>
                            <div class="resume_item_text">
                                <h4>Tam-ştat</h4>
                                <p>İş rejimi</p>
                            </div>
                        </div>
                        <div class="resume_item">
                            <div class="image">
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/money.svg" alt="">
                            </div>
                            <div class="resume_item_text">
                                <h4>500</h4>
                                <p>Minimum əmək haqqı AZN</p>
                            </div>
                        </div>
                        <div class="resume_item">
                            <div class="image"> 
                                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                            </div>
                            <div class="resume_item_text">
                                <h4>1 ildən az</h4>
                                <p>İş staji</p>
                            </div>
                        </div>
                    </div>
                </a>
                </div>

        </div>
        <div class="col-md-6">
            <div class="resume">
                <a href="./detail.html" target="_blank">
                <div class="resume_header">
                        <div class="info">
                            <div class="resume_header_img">

                                <img loading="lazy" src="https://www.hellojob.az/uploads/elanlar-cv/2024/02/01/senan-allahverenov-cv-65bb8f8f0686f-56df753f625b8629be183176426e63a465bb8f8f0687b-B5ohR4ei5gjbc-h.jpeg" alt="" class="">
                            </div>
                            <div class="resume_header_desc">
                                <h3>Mühasib köməkçisi  </h3>
                                <p>Sənan Allahverənov</p>
                                
                            </div>
                        </div>
                
                    
                            
                        <span class="resume__icon mr-0 course_like mt-2 " data-id="31">
                            <i id="unlike" style="color: #2196f3;" class="fa-regular fa-heart"></i>
                            <i id="like" style="color: #2196f3;" class="fa-solid fa-heart"></i>
                          </span>
                    
                </div>
                <div class="resume_footer">
                    <div class="resume_item"> 
                        <div class="image">                            
                            <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/user-clock.svg" alt="">
                        </div>
                        <div class="resume_item_text">
                            <h4>Tam-ştat</h4>
                            <p>İş rejimi</p>
                        </div>
                    </div>
                    <div class="resume_item">
                        <div class="image">
                            <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/money.svg" alt="">
                        </div>
                        <div class="resume_item_text">
                            <h4>500</h4>
                            <p>Minimum əmək haqqı AZN</p>
                        </div>
                    </div>
                    <div class="resume_item">
                        <div class="image"> 
                            <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                        </div>
                        <div class="resume_item_text">
                            <h4>1 ildən az</h4>
                            <p>İş staji</p>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <div class="resume">
                <a href="./detail.html" target="_blank">
                <div class="resume_header">
                        <div class="info">
                            <div class="resume_header_img">

                                <img loading="lazy" src="https://www.hellojob.az/uploads/elanlar-cv/2024/02/01/senan-allahverenov-cv-65bb8f8f0686f-56df753f625b8629be183176426e63a465bb8f8f0687b-B5ohR4ei5gjbc-h.jpeg" alt="" class="">
                            </div>
                            <div class="resume_header_desc">
                                <h3>Mühasib köməkçisi  </h3>
                                <p>Sənan Allahverənov</p>
                                
                            </div>
                        </div>
                
                    
                            
                        <span class="resume__icon mr-0 course_like mt-2 " data-id="31">
                            <i id="unlike" style="color: #2196f3;" class="fa-regular fa-heart"></i>
                            <i id="like" style="color: #2196f3;" class="fa-solid fa-heart"></i>
                          </span>
                    
                </div>
                <div class="resume_footer">
                    <div class="resume_item"> 
                        <div class="image">                            
                            <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/user-clock.svg" alt="">
                        </div>
                        <div class="resume_item_text">
                            <h4>Tam-ştat</h4>
                            <p>İş rejimi</p>
                        </div>
                    </div>
                    <div class="resume_item">
                        <div class="image">
                            <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/money.svg" alt="">
                        </div>
                        <div class="resume_item_text">
                            <h4>500</h4>
                            <p>Minimum əmək haqqı AZN</p>
                        </div>
                    </div>
                    <div class="resume_item">
                        <div class="image"> 
                            <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                        </div>
                        <div class="resume_item_text">
                            <h4>1 ildən az</h4>
                            <p>İş staji</p>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <div class="resume">
                <a href="./detail.html" target="_blank">
                <div class="resume_header">
                        <div class="info">
                            <div class="resume_header_img">

                                <img loading="lazy" src="https://www.hellojob.az/uploads/elanlar-cv/2024/02/01/senan-allahverenov-cv-65bb8f8f0686f-56df753f625b8629be183176426e63a465bb8f8f0687b-B5ohR4ei5gjbc-h.jpeg" alt="" class="">
                            </div>
                            <div class="resume_header_desc">
                                <h3>Mühasib köməkçisi  </h3>
                                <p>Sənan Allahverənov</p>
                                
                            </div>
                        </div>
                
                    
                            
                        <span class="resume__icon mr-0 course_like mt-2  " data-id="31">
                            <i id="unlike" style="color: #2196f3;" class="fa-regular fa-heart"></i>
                            <i id="like" style="color: #2196f3;" class="fa-solid fa-heart"></i>
                          </span>
                    
                </div>
                <div class="resume_footer">
                    <div class="resume_item"> 
                        <div class="image">                            
                            <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/user-clock.svg" alt="">
                        </div>
                        <div class="resume_item_text">
                            <h4>Tam-ştat</h4>
                            <p>İş rejimi</p>
                        </div>
                    </div>
                    <div class="resume_item">
                        <div class="image">
                            <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/money.svg" alt="">
                        </div>
                        <div class="resume_item_text">
                            <h4>500</h4>
                            <p>Minimum əmək haqqı AZN</p>
                        </div>
                    </div>
                    <div class="resume_item">
                        <div class="image"> 
                            <img loading="lazy" src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg" alt="">
                        </div>
                        <div class="resume_item_text">
                            <h4>1 ildən az</h4>
                            <p>İş staji</p>
                        </div>
                    </div>
                </div>
            </a>
            </div>

    </div>
    </div>
    <a href="./index.html" class="view-all">Hamısını göstər</a>
   
</main>
@section Scripts {
    <script src="~/assets/js/resume-detail.js"></script>
   }