<main class="main full" role="main">
    <div class="col-md-12 breadc  new_breadcrumb">
        <div class="container two_side_breadc">
            <h3>Şirkətlər</h3>
            <ul>
                <li>
                    <a href="#">Əsas səhifə </a>
                </li>
                <li>
                    <a href="#">Şirkətlər</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 companies_section p-0">
            <div class="row">
                <div class="company_card col-md-4 col-lg-3">
                    <div class="company_box">
                        <a href="/sirket/abb-asc" class="full">
                            <div class="n_company_images">
                                <img loading="lazy" src="https://www.hellojob.az/uploads/company/min/2023/10/23/6536807115d28-S-5pnD6C4vN8jxf.png" alt="ABB ASC">
                            </div>
                            <p>ABB ASC</p>
                            <span>Vakansiya sayı <span>33</span> </span>
                        </a>
                    </div>
                </div>
                <div class="company_card col-md-4 col-lg-3">
                    <div class="company_box">
                        <a href="/sirket/abb-asc" class="full">
                            <div class="n_company_images">
                                <img loading="lazy" src="https://www.hellojob.az/uploads/company/min/2023/10/23/6536807115d28-S-5pnD6C4vN8jxf.png" alt="ABB ASC">
                            </div>
                            <p>ABB ASC</p>
                            <span>Vakansiya sayı <span>33</span> </span>
                        </a>
                    </div>
                </div>
                <div class="company_card col-md-4 col-lg-3">
                    <div class="company_box">
                        <a href="/sirket/abb-asc" class="full">
                            <div class="n_company_images">
                                <img loading="lazy" src="https://www.hellojob.az/uploads/company/min/2023/10/23/6536807115d28-S-5pnD6C4vN8jxf.png" alt="ABB ASC">
                            </div>
                            <p>ABB ASC</p>
                            <span>Vakansiya sayı <span>33</span> </span>
                        </a>
                    </div>
                </div>

                <div class="company_card col-md-4 col-lg-3">
                    <div class="company_box">
                        <a href="/sirket/abb-asc" class="full">
                            <div class="n_company_images">
                                <img loading="lazy" src="https://www.hellojob.az/uploads/company/min/2023/10/23/6536807115d28-S-5pnD6C4vN8jxf.png" alt="ABB ASC">
                            </div>
                            <p>ABB ASC</p>
                            <span>Vakansiya sayı <span>33</span> </span>
                        </a>
                    </div>
                </div>
                <div class="company_card col-md-4 col-lg-3">
                    <div class="company_box">
                        <a href="/sirket/abb-asc" class="full">
                            <div class="n_company_images">
                                <img loading="lazy" src="https://www.hellojob.az/uploads/company/min/2023/10/23/6536807115d28-S-5pnD6C4vN8jxf.png" alt="ABB ASC">
                            </div>
                            <p>ABB ASC</p>
                            <span>Vakansiya sayı <span>33</span> </span>
                        </a>
                    </div>
                </div>

                <div class="company_card col-md-4 col-lg-3">
                    <div class="company_box">
                        <a href="/sirket/abb-asc" class="full">
                            <div class="n_company_images">
                                <img loading="lazy" src="https://www.hellojob.az/uploads/company/min/2023/10/23/6536807115d28-S-5pnD6C4vN8jxf.png" alt="ABB ASC">
                            </div>
                            <p>ABB ASC</p>
                            <span>Vakansiya sayı <span>33</span> </span>
                        </a>
                    </div>
                </div>

                <div class="company_card col-md-4 col-lg-3">
                    <div class="company_box">
                        <a href="/sirket/abb-asc" class="full">
                            <div class="n_company_images">
                                <img loading="lazy" src="https://www.hellojob.az/uploads/company/min/2023/10/23/6536807115d28-S-5pnD6C4vN8jxf.png" alt="ABB ASC">
                            </div>
                            <p>ABB ASC</p>
                            <span>Vakansiya sayı <span>33</span> </span>
                        </a>
                    </div>
                </div>

                <div class="company_card col-md-4 col-lg-3">
                    <div class="company_box">
                        <a href="/sirket/abb-asc" class="full">
                            <div class="n_company_images">
                                <img loading="lazy" src="https://www.hellojob.az/uploads/company/min/2023/10/23/6536807115d28-S-5pnD6C4vN8jxf.png" alt="ABB ASC">
                            </div>
                            <p>ABB ASC</p>
                            <span>Vakansiya sayı <span>33</span> </span>
                        </a>
                    </div>
                </div>

                <div class="company_card col-md-4 col-lg-3">
                    <div class="company_box">
                        <a href="/sirket/abb-asc" class="full">
                            <div class="n_company_images">
                                <img loading="lazy" src="https://www.hellojob.az/uploads/company/min/2023/10/23/6536807115d28-S-5pnD6C4vN8jxf.png" alt="ABB ASC">
                            </div>
                            <p>ABB ASC</p>
                            <span>Vakansiya sayı <span>33</span> </span>
                        </a>
                    </div>
                </div>


            </div>
            <ul class="custom-pagination mb-4"> <li><a class="active" href="?page=1">1</a></li> <li><a href="?page=2">2</a></li> <li><a href="?page=3">3</a></li><li class="w-100"><a>...</a></li><li><a class="rotate-pagination-item" aria-label="Next" href="?page=2"><img loading="lazy" src="https://www.hellojob.az/content/assets/images/vacancies/arrow.svg" alt=""></a></li></ul>
        </div>
    </div>
</main>

@section Scripts {
    <script src="~/assets/js/company.js"></script>
   }